.loadingContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    .load {
        width: 200px;
        height: 200px;
        background: transparent;
        border: 40px solid $background;
        border-top: 40px solid $header;
        position: absolute;
        border-radius: 50%;
        animation: {
            name: loading;
            duration: 1.2s;
            fill-mode:forwards;
            timing-function: ease-in-out;
            iteration-count: infinite;
        }
    }
}
@keyframes loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}